/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    
    /*Основные переменные*/
    --text-color:  #000;
    --page-background-color: #fff;

    /*Переменная для цвета тени в вотермарке*/
    --text-shadow-color: var(--page-background-color, #fff);

    /*Переменные в шрифтах*/
    --page-main-font-family: "inter", sans-serif;
    --page-accent-font-family: "PressStart2P", fantasy;
    --page-main-font-weight: 400;
    --headline-font-weight: 700;

    /*Переменные для сердца*/
    --like-main-color: none;
    --like-contour-color: var(--text-color, #000);
    --like-animation-fill-color: #ff0000;
    
    /*Переменные для кнопок*/
    --button-text-color: var(--page-background-color, #fff);
    
    /*Градиент*/
    --page-background-image: repeating-linear-gradient(
      to left,
      #d3d3d3 0 2px,
      #d3d3d300 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}